VITE_SUPABASE_URL=https://ibapqypxvcmzifujpjgw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImliYXBxeXB4dmNtemlmdWpwamd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MDE5NDMsImV4cCI6MjEwMjE3Nzk0M30.p1svJDeYRQo7RsiWW9XMRh3z6mo1zFjgoJQlDEn_gGo